<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.bytecode.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".activities.BettingOddsActivity"></activity>
        <activity
            android:name=".UpdateTeamActivity"
            android:label="@string/title_activity_update_team"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".activities.WhatIsOnTvActivity"
            android:label="@string/title_activity_what_is_on_tv"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".activities.LiveResultsActivity"
            android:label="@string/title_activity_live_results"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".activities.RankingActivity"
            android:label="@string/title_activity_ranking"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".activities.MyTeamActivity"
            android:label="@string/title_activity_my_team"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".SelectAuthorActivity"
            android:label="@string/title_activity_select_author"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".SelectTeamActivity"
            android:label="@string/title_activity_select_team"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".activities.BettingsActivity"
            android:label="@string/title_activity_bettings"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".activities.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>